<footer class="footer">
  <small>
  <p> &copy; WelMOTE&nbsp;2018&nbsp;&nbsp;&nbsp;Contact us at <a href="mailto:ravi.subram@gmail.com">ravi.subram@gmail.com</a></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>